<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="pom_TestCases.LoginPage_TestCase"/>
      <class name="pom_TestCases.HomePage_TestCase"/>
      <class name="pom_TestCases.ShoppingPage_TestCases"/>
      <class name="pom_TestCases.CartPage_TestCase"/>
      <class name="pom_TestCases.MyorderPage_TestCase"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
